<div data-spy="scroll" data-target=".navbar" data-offset="50">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">TheAkomolafe</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-briefcase"></span>
            </a>
          </li>
          <li>
            <a href="/contact" class="active">
              <span class="glyphicon glyphicon-envelope"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<br>
<hr>
<div class="container" align="center">
  <a href="mailto:olamideakomolafe1234@gmail.com"> <img src="../assets/images/alyson.jpg" alt="Reach Out" width="70%" height="400px"></a>
  <br>
  <i class="fa fa-arrow-up"></i>
  <p>Click Me to send an email.</p>
</div>

<div class="container">
  <hr>
      <div class="text-center center-block">
          <p class="txt-railway">TheAkomolafe&copy;</p>
          
            <a target="blank" href="https://www.linkedin.com/in/olamide-akomolafe-801683147/"><i id="social-in" class="fa fa-linkedin-square fa-3x social"></i></a>
            <a target="blank" href="https://twitter.com/theAkomolafe"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a target="blank" href="https://medium.com/@olamideakomolafe1234"><i id="social-m" class="fa fa-book fa-3x social"></i></a>
</div>
</div>
</div>
